{% extends "../base.html" %}

{% block title %}
Talleres
{% endblock %}

{% block body %}
<div class="row">
    <h1>Listado de Talleres</h1>
    <div class="py-2">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Clave</th>
                    <th>Docente</th>
                    <th>Nombre</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for t in talleres %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{t.codigo}}</td>
                    <td>{{t.docente}}</td>
                    <td>{{t.nombre}}</td>
                    <td><a href="inscripcionDirecta/{{t.pk}}" class="btn btn-info">Inscribirse</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}